<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls Main</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>

 
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' state_id=question.county.state.id pk=question.county.id pk2=question.id %}">{{ question.question_text }}</a></li> {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <form action="{% url 'polls:generate_question' state_id=state_id pk=pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Generate Question">
        <div class="warning">
            <p>Note: If generating your question is taking time, it is likely because we are scraping ordinances on request. Give us a minute.</p>
        </div>
    </form>

</body>

</html>