<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
</head>

<body>
    <div id="title">
        <h1>What's Up</h1>
    </div>

    <div id="selector">
        <h2>Please select your state:</h2>

        <form action="{% url 'mainpage:state' state|default:'mi' %}" method="post"> {% csrf_token %}
            <select name="state" id="state">
                <option value=""></option>
                <option value="mi">Michigan</option>
            </select>

            <button type="submit" name="submit" value="state">Do It </button>

        </form>
    </div>
</body>

</html>